.ant-input-affix-wrapper {
  @apply border border-grey3 p-3;

  &:not(.ant-input-affix-wrapper-disabled):hover {
    @apply border-primary;
  }

  .ant-input {
    @apply text-base;
  }

}

.ant-input-affix-wrapper-focused {
  @apply border-primary;
}

.ant-input {
  @apply border border-grey3 p-3 text-base;

  &:hover {
    @apply border-primary;
  }

  &:focus {
    @apply border-primary;
  }
}

.ant-input-group > .ant-input {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.ant-input-group > .ant-input-group-addon {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

